<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CDV_Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CDV_Viewer.Properties.Settings>
            <setting name="ZoomMin" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ZoomMax" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="NbVoies" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="EchelleX" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Margin" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LongueurVoieSecondaire" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ZoomVisibleCircuits" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ZoomTexteVisibleCircuits" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ZoomVisibleJoints" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ZoomTexteVisibleJoints" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ZoomTexteVisibleJonctions" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ZoomVisibleBalises" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OrdreVoie" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="OrdreVoieSecondaire" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="OrdreJonction" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OrdreNoeud" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OrdreCircuit" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OrdreJoint" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OrdreBalise" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="SizeVoieAdjacente" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CdVDrawingMode" serializeAs="String">
                <value>Normal</value>
            </setting>
        </CDV_Viewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
